.homeContainer{
	position: absolute;
	top:25px;
	left:25px;
	right:25px;
	bottom:25px;
	border-radius: 25px;
	overflow: hidden;
	display: flex;
	flex-direction: column;


}

.homeButton{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:70px;
	flex:1;
	padding:25px;
	
}

.hostButton{
	background-image: linear-gradient(#f8b195, #c06c84);
}

.playerButton{
	background-image: linear-gradient(#6c5b7b, #6c5b7b);
}